.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-size: cover;
  background-color: #f5f5f5;
}
.container {
  display: block;
  max-width: width 100%;
}

.weatherApp-wrapper {
  max-width: 600px;
  margin: 40px auto 0px auto;
}

.weatherApp {
  padding: 20px;
  border: 2px solid #0a043c;
  box-shadow: 3px 3px 3px 3px rgb(28, 28, 65);
  border-radius: 10px;
  background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
  font-family: "Pragati Narrow", sans-serif;
}

.App footer {
  margin: 10px 0px 0px 0px;
  color: rgb(44, 43, 43);
}
.App footer a {
  color: rgb(56, 55, 55);
  text-decoration: underline;
}
