.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-size: cover;
}
.container {
  display: block;
  max-width: width 100%;
}

.weatherApp-wrapper {
  max-width: 600px;
  margin: 40px auto 0px auto;
}

.weatherApp {
  padding: 20px;
  border: 2px solid #0a043c;
  box-shadow: 3px 3px 3px 3px rgb(28, 28, 65);
  border-radius: 10px;
  background-color: #fdd7d7;
  font-family: "Pragati Narrow", sans-serif;
}
h2.searchedCity {
  font-size: 40px;
  font-weight: 100;
  line-height: 19px;
  color: rgb(135, 135, 135);
  margin: 20px 0px 20px 15px;
}
footer {
  margin: 10px 0px 0px 0px;
  color: #fdd7d7;
}
footer a {
  color: #fdd7d7;
  text-decoration: underline;
}
