h2.searchedCity {
  font-size: 40px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
  color: white;
  margin: 30px 3px 0px 13px;
}
.Info {
  text-align: left;
  font-size: 15px;
  text-align: left;
  color: white;
  margin: 10px 0px 20px 15px;
}
.weatherDetails {
  font-size: 18px;
  margin-top: 15px;
}
.description {
  margin-left: 0px;
  margin-right: 25px;
}
.humidity {
  margin-left: 25px;
  margin-right: 25px;
}
.wind {
  margin-left: 25px;
}
.degree {
  font-size: 65px;

  color: white;
}
.tempStructure {
  margin-right: 35px;
}
.weatherIcon canvas {
  display: inline;
  margin-left: 15px;
  margin-top: 14px;
}
.units {
  font-size: 23px;
  line-height: 64px;
  color: white;
}
.units a {
  color: white;
  text-decoration: underline;
  font-size: 15px;
}
small.indication {
  font-size: 10px;
  margin-bottom: 10px;
}
ul.displayInfo {
  text-align: left;
  margin-top: 15px;
  display: block;
  font-size: 18px;
  list-style-type: none;
  position: relative;
  color: white;
  padding-left: 0px;
}
.forecastHeadline {
  text-align: center;
  margin-top: 15px;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
